<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

 <div class="field form-floating mb-3">
    <%= f.text_field :username, id:"floatingInput",class:"form-control", placeholder:"aa" %>
     <%= f.label :username,for:"floatingInput"  %><br />
  </div>

  <div class="field form-floating mb-3">
    <%= f.email_field :email , id:"floatingInput",class:"form-control", placeholder:"aa"%>
     <%= f.label :email , for:"floatingInput" %><br />
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field form-floating mb-3">
    <%= f.password_field :password, id:"floatingInput",class:"form-control", placeholder:"aa"%>
     <%= f.label :password , for:"floatingInput" %> <i>(leave blank if you don't want to change it)</i><br />
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field form-floating mb-3">
    <%= f.password_field :password_confirmation, id:"floatingInput",class:"form-control", placeholder:"aa" %>
    <%= f.label :password_confirmation, for:"floatingInput"  %><br />
  </div>
<% if get_user_type%>
  <div class="field form-floating mb-3">
    <%= f.text_field :profession , id:"floatingInput",class:"form-control", placeholder:"aa"%>
     <%= f.label :profession, for:"floatingInput"  %>
  </div>

  <div class="field form-floating mb-3">
    <%= f.text_field :service, id:"floatingInput",class:"form-control", placeholder:"aa" %>
    <%= f.label :service , for:"floatingInput" %>
  </div>
  <%end%>

  <div class="field form-floating mb-3">
    <%= f.password_field :current_password, id:"floatingInput",class:"form-control", placeholder:"aa" %>
      <%= f.label :current_password, for:"floatingInput"  %> <i>(we need your current password to confirm your changes)</i><br />
  </div>

  <div class="actions ">
    <%= f.submit "Update", class:"btn btn-outline-warning" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? &#127773;<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-outline-danger" %></p>

<%= link_to "Back", root_path , class:"btn btn-outline-secondary" %>
<br>
<br>
<br>