<div class="card text-center">
  <div class="card-header">
    Campaign
  </div>
  <div class="card-body">
    <h5 class="card-title"> <%= @campaign_tab.title %></h5>
    <p class="card-text"> <%= @campaign_tab.purpose %></p>
    <strong class="text-success">Todos of this Campaign:</strong><br>
    <%todo_for_campaign = find_todo(@campaign_tab)%>
    <%if current_user.id == @campaign_tab.user_id%>
    <%todo_for_campaign.each do |todo|%>
    <p class="card-text"><%= link_to todo.title , edit_user_campaign_tab_todo_path(current_user.id,@campaign_tab, todo), class:"lnk" %></p>
    <%end%>
     <%else%>
     <%todo_for_campaign.each do |todo|%>
    <p class="card-text"><%=todo.title %></p>
    <%end%>
    <%end%>

    <strong class="text-success">Topics:</strong><br>
    <% all_topics = find_topics(@campaign_tab)%>
    <% all_topics.each do |t|%>
    <%= link_to t.title, user_campaign_tab_topic_path(current_user.id,@campaign_tab, t) , class:"lnk" %>
    <%end%>
    <br>
    <br>
    <% if current_user.user_type == "novice" && current_user.status == "qualified" %>
    <%= link_to "Create Topic on this campaign", new_user_campaign_tab_topic_path(current_user,@campaign_tab) ,class:"btn btn-warning btn-sm" %>
    <%end%>
    <br>
    <br>
    <%= link_to 'Comment',  new_user_campaign_tab_comment_path(current_user.id,@campaign_tab),class:"btn btn-warning btn-sm" %> 
    <% if current_user.id == @campaign_tab.user_id%>
    <%= link_to "Add Todo", new_user_campaign_tab_todo_path(current_user.id,@campaign_tab) ,class:"btn btn-warning btn-sm" %> 
    <%= link_to "Add Tag", new_user_campaign_tab_tag_path(current_user.id,@campaign_tab) ,class:"btn btn-warning btn-sm" %>
    <%end%>
    <br>
    <strong>Tags:</strong><br>
    <% all_tags = find_tags(@campaign_tab)%>
    <% all_tags.each do |t|%>
    <%if current_user.id == t.user_id%>
    <%= link_to t.name, [current_user,@campaign_tab,t], method: :delete, data: { confirm: 'Are you sure want to delete this tag?' } , class:"badge bg-primary text-wrap" %>
    <%else%>
    <button class="badge bg-primary text-wrap"><%= t.name%></button>
    <%end%>
    <%end%>
  </div>
  <div class="card-footer text-muted">
    <strong>Estimated duration:</strong>
  <%= @campaign_tab.estimated_duration %> Days
  </div>
</div>
<br>
<div class="vstack gap-3">
<strong class="buttons">Comments</strong><br>
<% arr = get_comments(@campaign_tab)%>
<% arr.each do |c|%>
 <%=link_to  c.title, user_campaign_tab_comment_path(current_user.id,@campaign_tab, c.id), class:"comment bg-light border buttons"%>
<br>
<%end%>
</div>
<div class="buttons">
<%= link_to 'Back', root_path, class:"btn btn-outline-secondary btn-sm " %>
</div>
<br>