<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="table table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th>Email</th>
      <th>Username</th>
      <th>Status</th>
      <th>Type</th>
      <th>Profession</th>
      <th>Service</th>
      <th colspan="3" style="text-align:center">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
         <td><%= user.email %></td>
         <td><%= user.username %></td>
          <td><%= user.status %></td>
        <td><%= user.user_type %></td>
        <td><%= user.profession %></td>
        <td><%= user.service %></td>
       
        <%if check_user(user)%>
         <td ><%= link_to 'details', user,  class:"btn btn-outline-secondary btn-sm" %></td>
        <%else%>
        <td>You can't change other expert's details</td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="buttons"><%= link_to 'Back', root_path, class:"btn btn-outline-secondary" %></div>