<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field form-floating mb-3">
    <%= f.email_field :email,id:"floatingInput",class:"form-control", placeholder:"aa" %>
     <%= f.label :email , for:"floatingInput"%><br />
  </div>

  <div class="field form-floating mb-3">
    <%= f.password_field :password ,id:"floatingInput",class:"form-control", placeholder:"aa"%>
     <%= f.label :password , for:"floatingInput"%><br />
  </div>

  

  <div class="actions">
    <%= f.submit "Log in", class:"btn btn-outline-success" %>
  </div>
<% end %>